In [25]:
#https://www.youtube.com/watch?v=8rvneUBXDN8&ab_channel=GregKamradt%28DataIndy%29

import pandas as pd
df = pd.read_csv("data.csv")

In [2]:
df.head(3)

     name       type  AvgBill  Rating
0    Raga  VegNonVeg      500     5.0
1  Jaggis        Veg      400     4.5
2  Chtaka        Veg      350     5.0

In [14]:
df.set_index("name",inplace=True)

In [15]:
df.loc['Raga','type']

'VegNonVeg'

In [16]:
df.loc[:,"type"]

name
Raga      VegNonVeg
Jaggis          Veg
Chtaka          Veg
Star         NonVeg
Name: type, dtype: object

In [21]:
raga = df.loc["Raga",:]

In [24]:
print(type(raga))

<class 'pandas.core.series.Series'>

# **PANDAS SERIES**