In [ ]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('bike_sharing_daily.csv')

In [ ]:
df.shape

In [ ]:
df.head(4)

In [ ]:
isnull = df.isnull()

In [ ]:
isnull

In [ ]:
sns.heatmap(isnull)

In [ ]:
bikes = df.drop(labels=['instant','casual','registered'], axis='columns')

In [ ]:
bikes.head(1)

In [ ]:
bikes.dteday = pd.to_datetime(bikes.dteday,format='%m/%d/%Y')

In [ ]:
bikes.head(4)

In [ ]:
bikes.index = pd.Index(bikes.dteday)

In [ ]:
bikes.head(2)

In [ ]:
bikes.drop(labels=['dteday'],axis='columns')

**VISUALISE DATA**

In [ ]:
bikes.head(2)

In [ ]:
plt1 = bikes['cnt'].asfreq('W').plot(linewidth=3)
plt1.set_title("title")
plt1.set_xlabel('Week')
plt1.set_ylabel('Bike Rental Count')

In [ ]:
sns.pairplot(bikes)

In [ ]:
x_numerical = bikes[['temp','hum','windspeed','cnt']]

In [ ]:
x_numerical.head(3)

In [ ]:
sns.pairplot(x_numerical)

In [211]:
x_cat = bikes[['season','yr','mnth','holiday','weekday','workingday','weathersit']]

In [212]:
x_cat.head(3)

            season  yr  mnth  holiday  weekday  workingday  weathersit
dteday
2011-01-01       1   0     1        0        6           0           2
2011-01-02       1   0     1        0        1           0           2
2011-01-03       1   0     1        0        1           1           1

In [214]:
from sklearn.preprocessing import OneHotEncoder
oneHotEncoder = OneHotEncoder()

x_cat = oneHotEncoder.fit_transform(x_cat).toarray()
x_cat

array([[0., 1., 1., ..., 1., 1., 0.],
       [0., 1., 1., ..., 1., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       ...,
       [0., 1., 1., ..., 1., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       [0., 1., 1., ..., 1., 1., 0.]])